.Restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .5rem 2.3rem .5rem;
}

.card-title {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;

}

.card-title a {
    text-decoration: none;
}


.Restaurants h2 {
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.Restaurants .image-container {
    height: 16.66rem;
    margin-bottom: 1rem;
}

.Restaurants-information {
    display: flex;
    justify-content: space-between;
}

.Restaurants-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
}

.Restaurants-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Restaurants-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.Restaurants-reviews h3 {
    color: #b21f2d;
    font-weight: 600;
}

.Restaurants-reviews .rating {
    font-size: .88rem;
    line-height: 1rem;
}